a, img {
    border:none;
}

div.MenuButton {
	
}

body{
	background-image:url('images/Background.jpg'); /*photo credit: https://farm4.staticflickr.com/3086/2734229524_829275c502_o.jpg */
	background-repeat:no-repeat;
	background-attachment:fixed;
}

div.MenuButtonPos {
	position: relative;
	left:50px;
	top: 100px;
	margin:-5px;
}

div.Logo {
position: relative;
	left:50px;
	top: 50px;
}

div.shop_cart{
	position:relative;
	float:right;
	right: 110px;
	top: -100px;
}

h1 {
	margin:0;
	font: 1.5em 'Quicksand', sans-serif;
}


div.Couple_Photo{
	position: relative;
	left:200px;
}

div.BodyText {
	position: relative;
	font: 1em 'Quicksand', sans-serif;	
}

div.Bonsai_tree_gallery {
	margin:15px;
	float:left;
	width: auto;
	height: auto;
	
}

div.tree_name {
	text-align: center;
	left:0px;
	position: relative;
	font: 1em 'Quicksand', sans-serif;
	height: 50px;
	width:150px;
	
}

#container {
	margin: 0 auto;
	width:920px;
	height:1000px;
	background-color:white;
	text-align:left;
	position:relative;
}

.cols {
	margin-bottom:1.5em;
	/*overflow:hidden;*/
}

.col, .col5 {
	float:left;
	display:inline;
	margin-left:2%;
	background:#f1f1f1;
}

.col {
	width:20%;
}

.cols5 .col {
	width:60%; 
}

.cols .first {
	position: relative;
	left: 200px;
	top: -188px;
	padding: 20px;
}
