a, img {
    border:none;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('Font/Quicksand_Light-webfont.eot');
    src: url('Font/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Quicksand_Light-webfont.woff') format('woff'),
         url('Font/Quicksand_Light-webfont.ttf') format('truetype'),
         url('Font/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background-image:none;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
div.MenuButtonPos {
	position: relative;
	margin:4px;
}

img.button {
	width:100%;
	height:100%;
}

#container {
	margin: 0 auto;
	width:480px;
	text-align:left;
	position:relative;
}

div.Logo {	/*positioning logo*/
	position: relative;
	float: left;
	/*left: 30px;
	top: 20px;*/
}

div.infograph1{	/*positioning watering infograph on FAQ page*/
	position: relative;
	float:left;
	top:10px;
	left:40px;
}

div.infograph2{		/*positioning trimming infograph on FAQ page*/
	position: relative;
	float: right;
	top:20px;
	right:20px;
}

div.shop_cart{		/*positioning shopping cart*/
	position:relative;
	float:right;
	right: 30px;
	top: 20px;
}

img.logo{		/*resizing logo for mobile size*/
	width:30%;
	height:30%
}

div.Couple_Photo{	/*couple's photo on About page*/
	position: relative;
	top:20px;
	left:30px;
}

div.add_item{	/*add item button*/
	position:relative;
	float:right;
	right: -14px;
	top:-250px;
}

div.Continue_shop{ /*continue shopping button for individual product page*/
	position:relative;
	float: left;
	left:155px;
	top:-140px;
}

div.Continue_shop2{ /*continue shopping button for shopping cart page*/
	position:relative;
	float: left;
	left:-10px;
	top:60px;
}


div.Continue_shop_checkout{ /*return to shopping cart button for checkout page*/
	position:relative;
	float: left;
	top:-33px;
	left:-10px;
}

div.product_photo { /*photo for individual product page*/
	margin: 0;
	position: relative;
	float:left;
	left:-1px;
}


div.ProductText {		/*Text for individual product page*/
	font: 1em 'Quicksand', sans-serif;
	position: relative;
	float: left;
	left: 2px;
	top: -50px;
}

.cols .first {
	position: relative;
	/*left: 50px;
	top: 140px;*/
	padding: 20px;
	/*float:center;*/
}