a, img {
    border:none;
}

a:link{
	text-decoration:none;
	color:black;
}

a:visited{
	text-decoration:none;
	color:blue;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('Font/Quicksand_Light-webfont.eot');
    src: url('Font/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Quicksand_Light-webfont.woff') format('woff'),
         url('Font/Quicksand_Light-webfont.ttf') format('truetype'),
         url('Font/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
	background-image:none;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

nav ul li {
	display:inline-block;
	margin: 0 auto;
	
}

a.menuButton {
	text-align: center;
	margin:-2px;
	background-color:#21B573;
	/*border-radius:.5em;*/
	height:26px;
	color:white;
	/*border-color:black;*/
	font-size:18px;
	text-decoration:none;
	padding:.9em 2.5em;
	/*border:solid 1px black;*/
	/*box-shadow: 2px 2px 1px black;*/
	-moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition: background-color 2s, color 2s;
    transition: background-color 2s, color 2s;
}

a.menuButton:hover {
	text-decoration:none;
	background-color:white;
	color:black;
	-moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition: background-color 2s, color 2s;
    transition: background-color 2s, color 2s;
}

a.menuButton:active{
	color:#507A46;
}

#container {
	margin: 0 auto;
	width:480px;
	text-align:left;
	position:relative;
}

div.Logo {	/*positioning logo*/
	position: relative;
	float: left;
	left: 30px;
}

div.infograph1{	/*positioning watering infograph on FAQ page*/
	position: relative;
	float:left;
	top:10px;
	left:40px;
}

div.infograph2{		/*positioning trimming infograph on FAQ page*/
	position: relative;
	float: right;
	top:20px;
	right:20px;
}

div.shop_cart{		/*positioning shopping cart*/
	position:relative;
	float:right;
	right: 50px;
	top: 20px;
}

img.logo{		/*resizing logo for mobile size*/
	width: 130px;
	padding-right: 250px;
}

div.Couple_Photo{	/*couple's photo on About page*/
	position: relative;
	top:20px;
	left:30px;
}

div.add_item{	/*add item button on individual product page*/
	position:relative;
	float:left;
	left: 7px;
	top:-200px;
}

div.Continue_shop{ /*continue shopping button for individual product page*/
	position:relative;
	float: left;
	left:155px;
	top:-140px;
}

div.Continue_shop2{ /*continue shopping button for shopping cart page*/
	position:relative;
	float: left;
	left:-10px;
	top:60px;
}

div.Continue_shop3{ /*continue shopping button for confirmation page*/
	position:relative;
	float: left;
	left:-10px;
	top:15px;
}


div.Continue_shop_checkout{ /*return to shopping cart button for checkout page*/
	position:relative;
	float: left;
	top:-33px;
	left:-10px;
}

div.product_photo { /*photo for individual product page*/
	margin: 0;
	position: relative;
	float:left;
	left:-1px;
}


div.ProductText {		/*Text for individual product page*/
	font: 1em 'Quicksand', sans-serif;
	position: relative;
	float: left;
	left: 2px;
	top: -50px;
	width:300px;
}

.cols .first {
	position: relative;
	/*left: 50px;
	top: 140px;*/
	padding: 20px;
	/*float:center;*/
}