a, img {
    border:none;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('Font/Quicksand_Light-webfont.eot');
    src: url('Font/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Quicksand_Light-webfont.woff') format('woff'),
         url('Font/Quicksand_Light-webfont.ttf') format('truetype'),
         url('Font/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('Quicksand_Bold-webfont.eot');
    src: url('Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Quicksand_Bold-webfont.woff') format('woff'),
         url('Quicksand_Bold-webfont.ttf') format('truetype'),
         url('Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


div.MenuButton {
	
}

body{
	background-image:url('images/Background.jpg'); /*photo credit: https://farm4.staticflickr.com/3086/2734229524_829275c502_o.jpg */
	background-repeat:no-repeat;
	background-attachment:fixed;
}

nav ul {
	margin-left:0;
}

nav ul li {
	position:relative;
	top:4em;
	display:block;
	list-style: none;
	font-family:'QuicksandBold', sans-serif;
	margin-left:0.5em;
	height:50px;
}


a.menuButton {
	text-align:center;
	/*background-color:#209653;
	/*border-radius:.5em;*/
	height:26px;
	color:#209653;
	border-color:black;*/
	font-size:20px;
	text-decoration:none;
	padding:.5em .95em;
	/*border:solid 1px black;*/
	/*box-shadow: 2px 2px 1px black;*/
	-moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition: background-color 2s, color 2s;
    transition: background-color 2s, color 2s;
}

a.menuButton:hover {
	text-decoration:none;
	background-color:white;
	color:black;
	-moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition: background-color 2s, color 2s;
    transition: background-color 2s, color 2s;
}

div.MenuButtonPos {	/*positioning menu buttons*/
	position: relative;
	left:50px;
	top: 100px;
	margin:-5px;
}

div.Logo {	/*positioning logos*/
position: relative;
	left:50px;
	top: 50px;
}

div.Couple_Photo{	/*positioning couple's photo on About page*/
	position: relative;
	left:0px;
}

div.BodyText {	/*positioning body text*/
	position: relative;
	font: 1em 'Quicksand', sans-serif;	
}


div.Bonsai_tree_gallery { /*positioning images in product page gallery*/
	margin:5px;
	float:left;
	width: auto;
	height: auto;
}

th, td {
	padding-right: 20px;
}


div.product_photo {		/*positioning photo in individual product page*/
	position: relative;
	float:left;
	left:10px;
}

div.ProductText {		/*positioning text on individual product page*/
	font: 1em 'Quicksand', sans-serif;
	position: relative;
	float: left;
	left: 180px;
	top: -220px;
}

div.table{		/*Mock table showing purchases*/
	font: 1em 'Quicksand', sans-serif;
}

div.Continue_shop2{	/*repositioning continue shopping button*/
	position:relative;
	float: left;
	top:14px;
}

div.Checkout{		/*Continue to checkout button*/
	position:relative;
	float: right;
	top:14px;
}

h1 {
	margin: 0;
	font: 1.5em 'Quicksand', sans-serif;
}

div.shop_cart{		/*positioning shopping cart icon*/
	position:relative;
	float:right;
	right: 110px;
	top: -100px;
}


#container {
	margin: 0 auto;
	width:920px;
	height:1000px;
	background-color: rgba(255, 255, 255, 0.75);
	text-align:left;
	position:relative;
}

.cols {
	margin-bottom:1.5em;
	/*overflow:hidden;*/
}

.col, .col5 {
	float:left;
	display:inline;
	margin-left:2%;
	background:#f1f1f1;
}

.col {
	width:20%;
}

.cols5 .col {
	width:60%;
}

.cols .first {
	position: relative;
	left: 200px;
	top: -17em;
	padding: 20px;
}
