div.MenuButton {
	
}

div.MenuButtonPos {
	position: relative;
	left:50px;
	top: 100px;
	margin:-5px;
}

div.Logo {
position: relative;
	left:50px;
	top: 50px;
}

div.Couple_Photo{
	position: relative;
	left:0px;
}

div.BodyText {
	position: relative;
	font:1em Helvetica, Arial, sans-serif;
	
}

div.AboutBodyText {
	position: relative;
	font:1em Helvetica, Arial, sans-serif;
	
}


div.Bonsai_tree_gallery {
	margin:5px;
	float:left;
	width: auto;
	height: auto;
}

div.product_photo {
	margin: 0;
	position: relative;
	float:left;
	left:10px;
}

div.ProductText {
	font:1em Helvetica, Arial, sans-serif;
	position: relative;
	float: left;
	left: 180px;
	top: -260px;
}

div.table{
	font:1em Helvetica, Arial, sans-serif;
}

div.Continue_shop{
	position:relative;
	float: left;
	top:-50px;
	left:170px;
}

div.Continue_shop_checkout{
	position:relative;
	float: left;
	top:14px;
	left:-10px;
}

div.add_item{
	position:relative;
	float:right;
	top:-50px;
}

div.Checkout{
	position:relative;
	float: right;
	top:14px;
}

h1 {
	margin: 0;
	font:1.5em Helvetica, Arial, sans-serif;
}

div.shop_cart{
	position:relative;
	float:right;
	right: 110px;
	top: -100px;
}

#container {
	margin: 0 auto;
	width:920px;
	text-align:left;
	position:relative;
}

.cols {
	margin-bottom:1.5em;
	/*overflow:hidden;*/
}

.col, .col2, .col3, .col4, .col5 {
	float:left;
	display:inline;
	margin-left:2%;
	background:#f1f1f1;
}

.col {
	width:20%;
}

.cols3 .col {
	width:20%;
}

.cols5 .col {
	width:60%;
}

.cols .first {
	position: relative;
	left: 200px;
	top: -140px;
	padding: 20px;
}
